<div class="layout">
  <h3>Accordion</h3>
  <accordion-basic-demo></accordion-basic-demo>

  <h3>Alerts</h3>
  <messages-closable-demo></messages-closable-demo>

  <h3>Botones</h3>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary"></p-button>
    <p-button label="Secondary" styleClass="p-button-secondary"></p-button>
    <p-button label="Success" styleClass="p-button-success"></p-button>
    <p-button label="Info" styleClass="p-button-info"></p-button>
    <p-button label="Warning" styleClass="p-button-warning"></p-button>
    <p-button label="Help" styleClass="p-button-help"></p-button>
    <p-button label="Danger" styleClass="p-button-danger"></p-button>
  </div>

  <h3>Breadcrumbs</h3>
  <breadcrumb-basic-demo></breadcrumb-basic-demo>
  
  <h3>Cards</h3>  
  <div class="card flex justify-content-center">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
  </div>

  <h3>Carrousel</h3>
  <carousel-basic-demo></carousel-basic-demo>

  <h3>Dropdown</h3>
  <dropdown-filter-demo></dropdown-filter-demo>

  <h3>Forms</h3>
  <input-text-icons-demo></input-text-icons-demo>

</div>
